﻿@using Microsoft.AspNetCore.Components.Authorization
@using Sigma.BlazorApp.Storage;
@using Sigma.DAL.Repo;

@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject ISession Session;
@inject IUserInfoRepo UserInfoRepo;

<AuthorizeView>
    <Authorized>
        @if (@RolesVisible)
        {
            <div style="margin-right: 20px;">
              <TelerikDropDownList Value="@SelectedRole" Data="@Roles" ValueChanged="@((string v) => RoleValueChangedHandler(v))" Id="roles" PopupHeight="75" Width="150">
              </TelerikDropDownList>
            </div>
        }
        Hello, @context.User.Identity.Name
        <a href="AzureAD/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    public List<string> Roles;

    public string SelectedRole { get; set; }

    public bool RolesVisible;

    [Parameter] 
    public EventCallback<string> InitiateActiveRole { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userInfo = UserInfoRepo.GetUserInfo(Session.GetItem("TenantId"), Session.GetItem("Username"));
        var employeeId = userInfo.EmployeeId;
        var rolesArr = userInfo.Roles.Split(',');
        Roles = new List<string>(rolesArr);
        if (Roles.Count > 1)
        {
            RolesVisible = true;
        }
        // Initialize ActiveRole
        SelectedRole = "User";
        Session.AddItem("ActiveRole", "User");
        await InitiateActiveRole.InvokeAsync("User");
    }

    void RoleValueChangedHandler(object role)
    {
        //// When role changed notify navigation page
        SelectedRole = role as string;
        // The method below is fired on the parent container (MainLayout)
        InitiateActiveRole.InvokeAsync(SelectedRole);
    }
}
