﻿@inherits LayoutComponentBase

<TelerikRootComponent>

    <div class="sidebar">
        <NavMenu ActiveRole="@ActiveRole" />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay InitiateActiveRole="SetActiveRoleParent" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

</TelerikRootComponent>

@code {
    public string ActiveRole = "";
    
    public void SetActiveRoleParent(string role)
    {   
        // When this is invoked (by the 'LoginDisplay' child component), then the 'ActiveRole'
        // parameter is set in the 'NavMenu' child component.
        ActiveRole = role;
    }
}
