﻿@using Sigma.BlazorApp.Storage
@using Sigma.DAL.Repo;
@using Sigma.Logic;
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Components.Authorization

@inject ISession Session
@inject IConfiguration Configuration
@inject IUserInfoRepo UserInfoRepo;
@inject ICompanyRepo CompanyRepo;
@inject NavigationManager NavigationManager


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@CompanyName</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<span style="margin-left:20px; font-size:small; color: white;">Login Status: @ActiveRole</span>
<br />
@if (ActiveRole == "User")
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="payments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Payments
                </NavLink>
            </li>
        </ul>
    </div>
}

@if (ActiveRole == "Line Manager")
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="payments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>  Line Manager Item
                </NavLink>
            </li>
        </ul>
    </div>
}

@if (ActiveRole == "Receptionist")
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="payments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Receptionist Item 1
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="payments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Receptionist Item 2
                </NavLink>
            </li>
        </ul>
    </div>
}

@if (ActiveRole == "Administrator")
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="payments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Administrator Item
                </NavLink>
            </li>
        </ul>
    </div>
}


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Parameter]
    public string ActiveRole { get; set; }

    public string CompanyName = "";

    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (Session.GetItem("ActiveRole") != ActiveRole)
        {
            // If role changes then load the shared index page as main content
            Session.AddItem("ActiveRole", ActiveRole);
            NavigationManager.NavigateTo("/", false);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        var username = user.Claims.FirstOrDefault(x => x.Type.Equals("preferred_username", StringComparison.OrdinalIgnoreCase)).Value;
        var tenantId = user.Claims.FirstOrDefault(c => c.Type.Equals("http://schemas.microsoft.com/identity/claims/tenantid")).Value;

        var userInfo = UserInfoRepo.GetUserInfo(tenantId, username);
        var employeeId = userInfo.EmployeeId;

        var blobConnStr = Configuration.GetSection("SigmaCustom").GetSection("AzureBlobConnectionString").Get<string>();
        var companyInformation = new CompanyInformation(blobConnStr, CompanyRepo);
        var company = await companyInformation.GetCompanyAsync(tenantId);

        CompanyName = company.CompanyName;

        // Set server session vars
        Session.AddItem("Username", username);
        Session.AddItem("TenantId", tenantId);
        Session.AddItem("EmployeeId", employeeId);
        Session.AddItem("CompanyName", company.CompanyName);
    }
}
