﻿@page "/"
@attribute [Authorize(Roles = "User,Receptionist,Administrator,Line Manager,Secretarial")]

@using Sigma.DAL.Repo
@using Sigma.Logic
@using Microsoft.Extensions.Configuration
@using Sigma.BlazorApp.Storage

@inject ICompanyRepo CompanyRepo;
@inject ISession Session;
@inject IUserInfoRepo UserInfoRepo;
@inject IConfiguration Configuration

<h3>Welcome to Sigma HR</h3>
<br />
<div>
    <img src="/payroll.jpg" alt="Sigma HR" />
</div>

@code {

    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    public string CompanyLogo = "";
    public string CompanyName = "";

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        var username = user.Claims.FirstOrDefault(x => x.Type.Equals("preferred_username", StringComparison.OrdinalIgnoreCase)).Value;
        var tenantId = user.Claims.FirstOrDefault(c => c.Type.Equals("http://schemas.microsoft.com/identity/claims/tenantid")).Value;

        var userInfo = UserInfoRepo.GetUserInfo(tenantId, username);
        var employeeId = userInfo.EmployeeId;

        // Set server session vars
        Session.AddItem("Username", username);
        Session.AddItem("TenantId", tenantId);
        Session.AddItem("EmployeeId", employeeId);

        // TODO: Still working on this to obtain logo from Azure Blobs
        var blobConnStr = Configuration.GetSection("SigmaCustom").GetSection("AzureBlobConnectionString").Get<string>();
        var companyPictures = new CompanyInformation(blobConnStr, CompanyRepo);
        var blobBaseUri = Configuration.GetSection("SigmaCustom").GetSection("AzureBlobBaseUri").Get<string>();
        var company = await companyPictures.GetCompanyAsync(tenantId);
        CompanyLogo = blobBaseUri + tenantId + "/logo/" + company.CompanyLogo;
        CompanyName = company.CompanyName;
    }

}

