﻿@page "/payments"
@attribute [Authorize(Roles = "User")]

@using Sigma.Logic
@using Sigma.DAL.Models
@using Sigma.DAL.Repo
@using Sigma.BlazorApp.Storage

@inject ISession Session
@inject IPaymentRepo PaymentRepo
@inject IEmployeeRepo EmployeeRepo
@inject IJSRuntime JSRuntime

<h3>Payments</h3>
<br />
<div style="max-width: 800px;">
    <TelerikGrid Data="@PaymentsData" Height="280px"
                 Pageable="true" Sortable="false" Groupable="false" PageSize="5"
                 FilterMode="Telerik.Blazor.GridFilterMode.None"
                 Resizable="true" Reorderable="false" SelectionMode="GridSelectionMode.Single"
                 SelectedItemsChanged="@((IEnumerable<PaymentModel> paymentList) => OnSelect(paymentList))">
        <GridColumns>
            <GridColumn Field="DatePaid" Title="Date Paid" Width="120px">
                <Template>
                    @((context as PaymentModel).DatePaid.ToString("dd/MM/yyyy"))
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentModel.Gross))" Title="Gross">
                <Template>
                    @((context as PaymentModel).Gross.ToString("N2"))
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentModel.Gross))" Title="Net Pay">
                <Template>
                    @((context as PaymentModel).Paid.ToString("N2"))
                </Template>
            </GridColumn>
        </GridColumns>
    </TelerikGrid>

    @if (SelectedPayment != null)
    {
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Date Paid</th>
                    <th>Gross</th>
                    <th>Tax</th>
                    <th>SS</th>
                    <th>Paid</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@SelectedPayment.DatePaid.ToShortDateString()</td>
                    <td>@SelectedPayment.Gross.ToString("N2")</td>
                    <td>@SelectedPayment.Tax.ToString("N2")</td>
                    <td>@SelectedPayment.Ins.ToString("N2")</td>
                    <td>@SelectedPayment.Paid.ToString("N2")</td>
                    <td><a href="" @onclick="DownloadFile" @onclick:preventDefault><span class="oi oi-data-transfer-download"></span></a></td>
                </tr>
            </tbody>
        </table>
    }
</div>

@code {

    IEnumerable<PaymentModel> PaymentsData;

    PaymentModel SelectedPayment { get; set; }

    IEnumerable<PaymentModel> SelectedItems { get; set; } = Enumerable.Empty<PaymentModel>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var ps = new PaymentService(PaymentRepo, EmployeeRepo);
            PaymentsData = await ps.GetAllPaymentsAsync(Session.GetItem("TenantId"), Session.GetItem("EmployeeId"));
            StateHasChanged();
        }
    }

    protected void OnSelect(IEnumerable<PaymentModel> payments)
    {
        // When an item in the grid is selected...
        SelectedPayment = payments.FirstOrDefault();
        // update the collection so that the grid can highlight the correct item
        // when two-way binding is used this happens automatically, but the framework does not allow two-way binding and the event at the same time
        SelectedItems = new List<PaymentModel> { SelectedPayment };
    }

    async void DownloadFile()
    {
        // Create payslip and sent file to clients browser
        var ps = new PaymentService(PaymentRepo, EmployeeRepo);
        PaymentService.PaySlip payslip = ps.GeneratePayslip(Session.GetItem("TenantId"), Session.GetItem("EmployeeId"), @SelectedPayment.PaymentId);
        await JSRuntime.InvokeAsync<object>("FileSaveAs", payslip.FileName, payslip.FileContent);
    }
}